/* Main theme */

:root {
    --body-bg: #FAF9F6;
    --link-color: #12442d;
    --h1-color: #65937b;
    --text-color: #2B2B2B;
    --text-color-lighter: #4F494B;



    /* || font families */
    --font-family-base: "Public Sans", sans-serif;
    --font-family-accent: "Bricolage Grotesque", sans-serif;


    /* || font weight */
    --fw-base-light: 100;
    --fw-base-regular: 400;
    --fw-base-bold: 900;

    --fw-accent-light: 200;
    --fw-accent-regular: 400;
    --fw-accent-bold: 800;


    /* || font style */
    --fs-normal: normal;
    --fs-cursive: italic;

}


body {
    background-color: var(--body-bg);
    background: var(--body-bg-gardient);
    color: var(--text-color);
    font-family: var(--font-family-base);
    margin: 3% 15% 3%;
    text-align: center;


}



h1 {
    color: var(--h1-color);
    font-size: 3rem;



}

h2 {
    color: darkslategrey;
    margin: 20px;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-family-accent);
    text-shadow: 1px 1px 2px #13131348;
}

h5 {
    color: var(--text-color-lighter);
    font-weight: var(--fw-base-light);
}

img {
    margin-bottom: 1rem;
}